<div class="row"><p></p></div>
<div class="row"><p></p></div>
<div class="row">
  <div class="col-sm-3"><p></p></div>
  <div class="col-sm-8"><h1>Escuela Politecnica Nacional</h1></div>
  <div class="col-sm-1"></div>
</div>
<div class="row">
  <div class="col-sm-4"><p></p></div>
  <div class="col-sm-4"><h1>Supletorio JavaScript</h1></div>
  <div class="col-sm-4"></div>
</div>
<div class="row"><p></p></div>
<div class="row"><p></p></div>
<div class="row"><p></p></div>
<div class="row"><p></p></div>
<div class="row"><p></p></div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <app-usuarios></app-usuarios>

  </div>
  <div class="col-sm-1">

  </div>
  <div class="col-sm-4 sa-margen">
   <div class="row">
     <div class="col-sm-3"><p></p></div>
     <div class="col-sm-4">
       <form class="example-form">
         <div class="row">
           <div class="col-sm-12">
             <mat-form-field class="example-full-width">
               <input matInput placeholder="Usuario">
             </mat-form-field>
           </div>
           <div class="col-sm-12">
             <mat-form-field class="example-full-width">
               <textarea matInput placeholder="Contraseña"></textarea>
             </mat-form-field>
           </div>
           <div class="row">
             <div class="col-sm-4"></div>
             <div class="col-sm-3">
               <button mat-button>Ingresar</button>
             </div>
             <div class="col-sm-4"></div>
           </div>
         </div>
       </form>

     </div>
     <div class="col-sm-4"></div>
   </div>

  </div>

</div>
<div class="row"><p></p></div>
<div class="row"><p></p></div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-3 sa-margen"><h5>Juego de Palabras</h5></div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="row"><p></p></div>
  <div class="col-sm-5"></div>
  <div class="col-sm-3 ">
    <button mat-button [routerLink]="['/juego']">Confirmar Juego</button>
  </div>
  <div class="col-sm-4"></div>
</div>



