<div class="row"><p></p></div>
<div class="row"><p></p></div>
<div class="row">
  <div class="col-sm-4"><p></p></div>
  <div class="col-sm-8"><h1>Turno del Jugador 1</h1></div>
  <div class="col-sm-1"></div>
</div>
<div class="row">
  <div class="col-sm-4"><p></p></div>
  <div class="col-sm-4"><h4>Seleccione 10 Palabras</h4></div>
  <div class="col-sm-4"></div>
</div>

<div class="row"><p></p></div>
<div class="row"><p></p></div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="row">
      <div [class]="nombrePalabra1">
        <p>{{Palabra1}}</p>
      </div>
    </div>
    <div class="row">
      <button (click)="cambiarClaseDeTitulo1()">Seleccionar </button>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="row">
      <div [class]="nombrePalabra2">
        <p>{{Palabra2}}</p>
      </div>
    </div>
    <div class="row">
      <button (click)="cambiarClaseDeTitulo2()">Seleccionar </button>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="row">
      <div [class]="nombrePalabra3">
        <p>{{Palabra3}}</p>
      </div>
    </div>
    <div class="row">
      <button (click)="cambiarClaseDeTitulo3()">Seleccionar </button>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="row">
      <div [class]="nombrePalabra4">
        <p>{{Palabra4}}</p>
      </div>
    </div>
    <div class="row">
      <button (click)="cambiarClaseDeTitulo4()">Seleccionar </button>
    </div>
  </div>
</div>

<div class="row"><p></p></div>
<div class="row"><p></p></div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="row">
      <div [class]="nombrePalabra5">
        <p>{{Palabra5}}</p>
      </div>
    </div>
    <div class="row">
      <button (click)="cambiarClaseDeTitulo5()">Seleccionar </button>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="row">
      <div [class]="nombrePalabra6">
        <p>{{Palabra6}}</p>
      </div>
    </div>
    <div class="row">
      <button (click)="cambiarClaseDeTitulo6()">Seleccionar </button>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="row">
      <div [class]="nombrePalabra7">
        <p>{{Palabra7}}</p>
      </div>
    </div>
    <div class="row">
      <button (click)="cambiarClaseDeTitulo7()">Seleccionar </button>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="row">
      <div [class]="nombrePalabra8">
        <p>{{Palabra8}}</p>
      </div>
    </div>
    <div class="row">
      <button (click)="cambiarClaseDeTitulo8()">Seleccionar </button>
    </div>
  </div>
</div>

<div class="row"><p></p></div>
<div class="row"><p></p></div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="row">
      <div [class]="nombrePalabra9">
        <p>{{Palabra9}}</p>
      </div>
    </div>
    <div class="row">
      <button (click)="cambiarClaseDeTitulo9()">Seleccionar </button>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="row">
      <div [class]="nombrePalabra10">
        <p>{{Palabra10}}</p>
      </div>
    </div>
    <div class="row">
      <button (click)="cambiarClaseDeTitulo10()">Seleccionar </button>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="row">
      <div [class]="nombrePalabra11">
        <p>{{Palabra11}}</p>
      </div>
    </div>
    <div class="row">
      <button (click)="cambiarClaseDeTitulo11()">Seleccionar </button>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="row">
      <div [class]="nombrePalabra12">
        <p>{{Palabra12}}</p>
      </div>
    </div>
    <div class="row">
      <button (click)="cambiarClaseDeTitulo12()">Seleccionar </button>
    </div>
  </div>
</div>

<div class="row"><p></p></div>
<div class="row"><p></p></div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="row">
      <div [class]="nombrePalabra13">
        <p>{{Palabra13}}</p>
      </div>
    </div>
    <div class="row">
      <button (click)="cambiarClaseDeTitulo13()">Seleccionar </button>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="row">
      <div [class]="nombrePalabra14">
        <p>{{Palabra14}}</p>
      </div>
    </div>
    <div class="row">
      <button (click)="cambiarClaseDeTitulo14()">Seleccionar </button>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="row">
      <div [class]="nombrePalabra15">
        <p>{{Palabra15}}</p>
      </div>
    </div>
    <div class="row">
      <button (click)="cambiarClaseDeTitulo15()">Seleccionar </button>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="row">
      <div [class]="nombrePalabra16">
        <p>{{Palabra16}}</p>
      </div>
    </div>
    <div class="row">
      <button (click)="cambiarClaseDeTitulo16()">Seleccionar </button>
    </div>
  </div>
</div>
